body {
    background-color: white;
    font-family: "Times New Roman", Times, Serif;
}
h1 {
    color: dodgerblue;
    text-align: center;
}
h3 {
    color: indianred;
}
.vericaltext {
 writing-mode: vertical-lr;
 text-orientation: upright;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    vertical-align: top
}
th > a {
    color: black;
}
th {
    background-color: indianred;
    color: black;
}
tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}
tr:nth-child(odd) {
    background-color: white;
}